<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Login</h1>
      {{> message}}
      <form action="/users/login" method="POST" id="form" novalidate> 
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" maxlength="50" placeholder="Enter Email" required>
          <div class="valid-feedback">Good!</div>
          <div class="invalid-feedback">This field is required!</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" minlength="6" maxlength="12" placeholder="Enter 6~12 characters Password" required>
          <div class="valid-feedback">Good!</div>
          <div class="invalid-feedback">This field is required!</div>
        </div>
        <button id="submit-btn" type="submit" class="btn btn-primary btn-block">Login</button>
        <a href="/auth/facebook" class="btn btn-info btn-block">Facebook Login</a>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>